.imgFooter {
    width: 100%; /* width of container */
    height: auto; /* height of container */
    object-fit: cover;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
.imgFooterAdobe {
    width: 80%; /* width of container */
    height: auto; /* height of container */
    object-fit: cover;
    max-width: 100%;
    margin-top: 10%;
    text-align: center;
}