.about-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

@keyframes imagemove {
    0%   {left:0px; top:0px;}
    50%  {left:100px; top:0px;}
    100% {left:0px; top:0px;}
}

.work-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    border: 1px solid #ba54f5; 
}

.work-image-2 {
  width: 80%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  border: 1px solid #ba54f5; 
}

@-webkit-keyframes Floatingx {
    from {
      -webkit-transform: translate(50px, 0px);
    }
    65% {
      -webkit-transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(50px, 0px);
    }
  }
  
  @-moz-keyframes Floatingx {
    from {
      -moz-transform: translate(50px, 0px);
    }
    65% {
      -moz-transform: translate(0, 0);
    }
    to {
      -moz-transform: translate(50px, 0px);
    }
  }
