.project-type {
    text-align: center;
    color: #ba54f5;
    font-size: 20px;
}

.project-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.project-image {
    max-width: 66%;
    max-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 20px;
}

.project-image-title {
    color: white;
}

.intro {
    font-size: 20px;
}

.intro-title {
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 1.6;
    font-weight: 600;
    color: #e14eca;
}

.vid-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}